#root {
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background: #f8f8f8;
}

.todo-list {
  margin: 10px 0;
}
form {
  width: 500px;
}
.link {
  text-decoration: none !important;
}
.todo-list .todo-item {
  display: flex;
  justify-content: space-between;
  background-color: rgb(242, 242, 242);
  align-items: center;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.task-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
}
.task-details .taskbox {
  display: flex;
}
.task-details .taskbox input {
  width: 25px;
}
.checked {
  text-decoration: line-through;
}

div.checker {
  width: 18px;
  height: 18px;
}

div.checker input {
  width: 18px;
  height: 18px;
}

div.checker {
  display: inline-block;
  vertical-align: middle;
}

.done {
  text-decoration: line-through;
}

@media screen and (max-width: 576px) {
  .todo-list .todo-item {
    flex-direction: column;
    gap: 10px;
  }
}
